<p><form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="display_answer" placeholder="what do you want from me?">
  <input type="submit" value="Go on!">
</form>
</p>
